<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Maps</a></li>
            <li><a href="">Make a map</a></li>
        </ul>
    </nav>
    <h1>MAP</h1>
    <a href="/maps">Discover maps</a>
    <a href="/new">Make a map</a>
</body>
</html>