<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="">Maps</a></li>
                <li><a href="">Make a map</a></li>
            </ul>
        </nav>
        <main>
            <div class="map-list">
                <form action="">
                    <input type="search" />
                    <button type="submit"></button>
                </form>
                <ul>
                    <li>
                        <h3>Name</h3>
                        <img src="" alt="" />
                    </li>
                </ul>
            </div>
            <iframe src="/viewmap?tools=none" frameborder="0"></iframe>
        </main>
    </body>
</html>
