<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/maps.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav>
            <ul class="horizontal-nav-bar">
                <li class="nav-home"><a href="">Home</a></li>
                <li class="nav-bullet"><a href="">Maps</a></li>
                <li class="nav-bullet"><a href="">Make a map</a></li>
                <li class="nav-about"><a href="">About</a></li>
            </ul>
        </nav>
        <main>
            <div class="map-list">
                <form action="">
                    <input class="input" type="search" placeholder="Search"/>
                    <button class="submit" type="submit">Submit</button>
                </form>
                <ul>
                    <li>
                        Name
                        <img src="" alt="" />
                    </li>
                </ul>
            </div>
            <div class="map-preview">
                <iframe src="/viewmap?tools=none" frameborder="0" class="map"></iframe>
            </div>
        </main>
    </body>
</html>
