<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
        <style>
            .map-list {
                border-style: solid;
                width: 35vw;
                height: 85vh;
                position: absolute;
            }
            .map-preview {
                border-style: solid;
                width: calc(65vw - 32px);
                height: 85vh;
                float: right;
            }

            input {
                border: none;
            }
        </style>
        
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="">Maps</a></li>
                <li><a href="">Make a map</a></li>
            </ul>
        </nav>
        <main>
            <div class="map-list">
                <form action="">
                    <input type="search" placeholder="Search"/>
                    <button type="submit"></button>
                </form>
                <ul>
                    <li>
                        <h3>Name</h3>
                        <img src="" alt="" />
                    </li>
                </ul>
            </div>
            <div class="map-preview">
                <!-- <iframe src="/viewmap?tools=none" frameborder="0"></iframe> -->
                no way
            </div>
        </main>
    </body>
</html>
