<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="ui">
            <nav>
                <ul>
                    <li><a href="">Maps</a></li>
                    <li><a href="">Make a map</a></li>
                </ul>
            </nav>
            <aside>
                <h2>Tools</h2>
                <ul>
                    <li>Road</li>
                    <li>Point of interest</li>
                </ul>
            </aside>
        </div>
        <canvas></canvas>
    </body>
</html>
